* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgba(100, 200, 205, 0.12);
}
#btn-wrapper {
    width: 300px;
    height: 290px;
    margin: 7.5% auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
h1, h2{
    text-align: center;
    padding-top: 5px;
    font-size: 1.55em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#counter {
    padding: 10px;
    font-size: 2.3em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#increment, #decrement, #reset {
    background-color: blue;
    border: none;
    border-radius: 7px;
    padding: 10px;
    color: #fff;
    font-size: 1.1em;
    margin-top: 10px;
    font-weight: bold;
}
#decrement {
    background-color: red;
}
#reset {
    background-color: gray;
}
